<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

    <div class="containerColumns">
      <h3><span class="glyphicon glyphicon-info-sign"></span>ID a eliminar</h3>
      <input type='number' />
      <a type="button" class="btn btn-lg btn-default"
        href="/"><span
          class="glyphicon glyphicon-flash"></span> Eliminar</a>
    </div>


</body>

</html>