<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
  
    <div class="containerColumns">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Numero ID</h3>
      <input id="idnumber" type='number' />
      <h3><span class="glyphicon glyphicon-info-sign"></span>Contenido</h3>
      <a type="button"  onclick="selectRow()" class="btn btn-lg btn-default" ><span
          class="glyphicon glyphicon-flash"></span>
        Seleccionar fila</a>
    </div>
    
  	<script>
      function selectRow () {
        var id = parseInt($('#idnumber').val())
        if(isNaN(id)){
          window.location.href = "/all";
        }else{
          window.location.href = "/all?id="+id;
        }
      } 
    </script>

</body>

</html>