<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

    <div class="containerColumns">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Numero ID</h3>
      <input type='number' />
      <h3><span class="glyphicon glyphicon-info-sign"></span>Contenido</h3>
      <textarea disabled name="textarea" rows="10" cols="50">Vacio</textarea>
      <a type="button" class="btn btn-lg btn-default" href="/"><span class="glyphicon glyphicon-flash"></span>
        Actualizar datos</a>
    </div>


</body>

</html>